/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/

body{
  font-family:  'Arial' , sans-serif;
  font-size: 14px;
  /* font-family: sans-serif; - шрифт без засечек*/
}
.wrapper{
min-height: 100%;
overflow: hidden;
display: flex;
flex-direction: column;
}
.container{
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 15px;
}
.content{
  flex: 1 1 auto;
}
/* =================================  Информация  о  автомастерской =========== */
.header{
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  font-family: 'Arial' , sans-serif ;
  
}
.header__row{
  display: flex;
  align-items:center;
  justify-content:space-around;
  
  padding: 10px 0;

}
.logo,
.number,
.schedule,
.address{
text-align: center;
}

.number{
  display: flex;
  flex-direction: column;
}
.number__item a{
  color: rgb(255, 255, 255);
}
.nav{
  background-color: rgba(0, 0, 0, .5);
}
.nav__item{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30px;
  width: 100%;
}
.nav__link{
color: #f5f5f5;
text-transform: uppercase;
font-size: 17px;
font-weight: 800;
}
.nav.fixed{
  height: auto;
  position: fixed;
  background-color: rgba(0, 0, 0, .7);
  margin: -70px 0;
  padding: 10px 0;
  width: 100%;
  z-index: 2;
}
.nav.fixed .nav__item{
  display: flex;
}
/* =============== интро с видео на фоне */
.intro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 810px;
  padding-top: 80px;
  
}
.intro__inner{
  max-width: 970px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.intro__title{
  font-family:'Times New Roman',  sans-serif;
 line-height: 1.1;
  font-size: 65px;
  color: #fff;
  font-weight: 900;
  margin: 0 0 30px;
  text-transform: uppercase;
}
.intro__subtitle{
  margin-bottom: 60px;
  font-size: 22px;
  color: #fff;
  line-height: 1.5;
  font-weight: 400;
  font-family: 'Arial' , sans-serif ;
}
.btn{
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  padding: 14px 40px;
  border-radius: 2px;
  font-family: 'Arial' , sans-serif ;
  border: 0;
  cursor: pointer;
  transition: background .1s;
  text-align: center;
}
.btn--red{
  background-color: #e84545;
}
.btn--red:hover{
  background-color:#dd3434;
}
.services{
  background-color: #fff;
}
.services__row{
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0;
}
.services__item{
  width: 33.333333%;
  text-align:center;
  padding: 0 40px;
  margin: 40px 0;
}
.services__icon{
  margin-bottom: 25px;
}
.services__title{
  font-family: 'Times New Roman', sans-serif;
  margin-bottom: 20px;
  font-size: 14px;
  color: #2d3033;
  font-weight: 700;
  text-transform: uppercase;
}
.services__text{
  font-size: 14px;
  color: #6c7279;
  line-height: 1.5;
  font-family: 'Arial', sans-serif;
}

.why{
  background-color: #fff;
  padding: 50px 0;
}
.why__row{
  display: flex;
  height: 500px;
 
}
.why__photo{
  width: 50%;
  height: 500px;
  position: relative;
  overflow: hidden;
}
.why__img{
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  transform: translateY(-50%);
  width: 100%;
}
.why__content{
  display: flex;
  flex-direction: column;
 
  width: 50%;
  padding-left: 50px;
  padding-top: 20px;
}
.why__title{
  font-size: 27px;
  font-weight: 500;
  font-family: 'Times New Roman',  sans-serif;
  padding: 0px 0px 30px 0px;
  text-transform: uppercase;
   line-height: 1.4;
}
.why__text{
font-family: 'Arial',  sans-serif;
font-size: 21px;
  color: #000;
  line-height: 2;
}
.counter{
width: 100%;
background-color: #fff;
padding: 50px 0 ;
}
.counter__row{
display: flex;
justify-content: space-around;
text-align: center;
}
.counter__number{
font-size: 32px;
}
.counter__text{
  font-size: 34px;
}


.masters{
  width: 100%;
background-color: #fff;
padding: 50px 0 0 0;
}
.masters__row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.masters__item{
  width: 250px;
  height: 300px;
 /* border: 1px solid #2d3033; */
margin: 0 20px 50px 0;
position: relative;
perspective:1000px ;
}

.masters__front{
 background-color: #fff;
 
}
.masters__back{
  background-color: rgba(0, 0, 0, .1);
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Arial', sans-serif;
}
.masters__title{
font-size: 25px;
font-weight: 700;
padding: 30px 0;
}
.masters__subtitle{
  font-size: 16px;
  font-weight: 700;
  margin: 10px;
}
.masters__text{
  font-size: 15px;
  margin: 10px 0;
  color: #6c7279;
}
.masters__front,
.masters__back{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  backface-visibility: hidden;
  border-radius:10px;
  overflow: hidden;
}
.masters__item:hover .masters__front{transform: rotateY(180deg);}
.masters__item:hover .masters__back{transform: rotateY(360deg);}
.end{
  background-color:#6c7279;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.end h3{
  font-size: 17px;
  font-weight: 800;
  line-height: 1.4;
  text-align: center;
  padding: 10px 0;
}
.end p{
padding: 5px 0;
font-size: 14px;
font-weight: 600;
}

.map{
  padding: 50px 0;
  background-color: #fff;
}
.where{
  background-color: #f5f5f5;
}
.where__row{
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
}
.where__title{
  font-size: 30px;
  font-weight: 500;
  font-family: Arial, sans-serif;
}
.where__a,
.where__a a{
  font-size: 22px;
  font-weight: 500;
  color: #000;
  font-family: Arial, sans-serif;
}
.name{
  background-color: #fff;
}
.name__row{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.name__title{
  font-size: 40px;
  padding: 40px 0 25px 0;
  font-weight: 500;
  font-family: 'Times New Roman', sans-serif;
}
.name__decoration{
  width: 70px;
  height: 2px;
  background-color:#6c7279;
}

.card__row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card__column {
  padding: 50px 0;

}
.card__item{
  width: 350px;
   display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
 
}
.card__photo{
  width: 350px;
  height: 250px;
  overflow: hidden;
  margin: 0 0 40px 0;
}

.card__title{
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 20px 0;
}
.card__subtitle{
  max-width: 300px;
  line-height: 1.7;
  height: 100px;
}
.block{
  padding: 50px 0px 0px 0px;
}
.block__row{
  display: flex;
  
}
.block__text{
  font-family: Arial,  sans-serif;
  font-size: 17px;
  line-height: 1.3;
  padding: 0 30px  ;
  color: rgb(55, 62, 70);
}
.block__title{
  font-size: 20px;
  padding: 0px 30px 30px 30px;
  color: #000;
  
}
.block__photo{
  width: 50%;
  height: 400px;
  position: relative;
  overflow: hidden;
  max-height: 100%;
}
.block__img{
  right: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.block__content{
  width: 50%;
  height: 500px;
}
.table{
  background-color: #fff;
  margin: 50px 0;
}
table{
  border-collapse: collapse; 
  font-family: Arial, sans-serif;
  flex: 1 1 auto;
}
td {
  padding: 10px 10px;
  border: 1px solid #000;
}
.table__item{
  text-align: center;
  font-weight: 550;
}
.table__td{
  font-weight: 550;
}
.menu{
display: flex;
flex-direction: column;

}
.table__link{

}
.table__row{
display: flex;

}
.btn--menu{
  margin: 0px 50px 5px 0;
  background-color: #6c7279;
  width: 250px;
}
.btn--menu:hover{
  background-color: crimson;
}
.kontakty__row{
  display: flex;
 
}
.kontakty{
  min-height: 500px;
  padding: 50px 0; 
}
.kontakty__item{
  width: 50%;
  margin: 10px;
}
fieldset{
display: flex;
flex-direction: column;
border: 1px solid #f2f2f2;
border-radius: 5px;
}
legend{
  font-weight:500;
  font-family: serif;
  font-size: 35px;
  margin:0 10px         ;
}
.message{
width: 500px;
height: 100px;
}
input{
  border: 2px solid #f2f2f2;
  border-radius: 5px;
  margin: 20px 10px;
  padding: 15px 10px;
}
.select{
  display: flex;
 padding: 10px 0px 10px 15px;
font-size: 17px;
}
option{
  font-size: 19px;
}


.slider{
  background-color: #fff;
  padding: 50px 0 20px 0;
}
.slider__row__mobile{
  display: none;
}
.rule{
  padding: 50px 0;
  background-color: #fff;
}
.rule__row{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 100px;
  text-align: center;
}
.rule__text{
  font-size: 24px;
  line-height: 1.8;
  color: #000;
}


/* ==================================  footer ================================= */
.footer{
  background-color: #f5f5f5;
  
} 
.author{
height: 140px;
  width: 100%; 
  display: flex;
  flex-direction: column;
 text-align: center;
padding: 30px 0 ;
}
.nav__mobile{
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, .1);
  display: flex;
  justify-content: flex-end;
}
 .menu-btn{
   display: block;

   height: 40px;
   width: 40px;
   background-color: #fff;
  border-radius: 50%;
  position: relative;
 }
 .menu-btn span,
 .menu-btn span::before,
 .menu-btn span::after{
   position: absolute;
   top: 50%;
   margin-top: -1px;
   left: 50%;
   margin-left: -10px;
   width: 20px;
   height: 2px;
   background-color: #000;
 }
.menu-btn span::before,
.menu-btn span::after{
content: '';
display: block;
transition: 0.5s;
}
.menu-btn span::before{
  transform:translateY(-5px);
}
.menu-btn span::after{
  transform:translateY(5px);
}
.menu-btn_active span::before{
  transform: rotate(35deg);
  transform-origin: left bottom;
  width: 10px;
  }
  .menu-btn_active span::after{
    transform: rotate(-35deg);
    transform-origin: left top;
    width: 10px;
 }
/*  меню крестиком
.menu-btn_active span::before{
transform: rotate(45deg);
}
.menu-btn_active span::after{
  transform: rotate(-45deg);
  }*/
  .menu__block{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu__nav__link{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
  }
.menu__nav{
  transition: 0.5s;
  transform-origin: right center;
  transform: scaleX(0) translateX(20%);
  opacity: 0;
}
.menu__nav_active{
  transform: scaleX(1) translateX(0%);
  opacity: 1;
}
.menu-mobile{
  display: none;
}


  /*
  --======media====----—
  */
  @media(max-width:1110px){
.masters__item{
margin: 10px 55px ;
}
.rule__text{
  font-size: 22px;
  line-height: 1.7;
}
.slider__item img{
  width: 220px;
}
.why__img{
  height: 400px;
}
.why__row{
  height: 400px;
}
.why__photo{
  height: 400px;
}
.why__title{
  font-size: 25px;
  padding: 0px 20px 20px 0px;
}
.why__text{
  font-size: 20px;
}
.block__text{
  font-size: 14px;
  line-height: 1.5;
}
.block__title{
  padding: 0px 0px 20px 30px;
}
.block__content{
  height: 400px;
 
}
.block{
  padding: 30px 0px;
}
}
  @media(max-width:930px){
    .slider__item img{
      width: 190px;
    }
    .counter__text{
      font-size: 25px;
    }
    .name__title{
      font-size: 35px;
    }
    .rule__text{
      font-size: 20px;
      line-height: 1.7;
    }
    .intro{
    height:400px;
    padding-top: 50px;
  }
  .intro__inner{
    max-width: 750px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
    .intro__title{
      font-size: 45px;
    }
    .intro__subtitle{
      font-size: 19px;
    }
    .block__text{
      font-size: 14px;
      line-height: 1.2;
    }
    .block__photo{
      height: 350px;
    }
    .block__content{
      height: 400px;
    }
    .why__img{
      height: 400px;
    }
    .why__row{
      height: 400px;
    }
    .why__photo{
      height: 400px;
    }
    .why__title{
      font-size: 23px;
    }
    .why__text{
      font-size: 19px;
    }
    .where__title{
      font-size: 25px;
    }
    .where__a,
    .where__a a{
      font-size: 19px;
    }
    .where__row{
      height: 50px;
    }
  }
 @media(max-width:767px){
 .masters__item{
      margin: 10px;
      }
      .slider__item img{
        width: 140px;
      }
   .menu-mobile{
     display: flex;
   }
   .nav.fixed .nav__item,
   .nav__item{
    display: none;
   }
   .intro__subtitle{
     font-size: 16px;
     font-weight: 530;
   }

   .intro__inner{
     max-width: 670px;
   }
    .name__title{
      padding: 20px 0 20px;
    }
    .counter__text{
      font-size: 17px;
    }
    .counter{
      padding: 30px 0px;
    }
    .services__item{
      margin: 20px 0px;
    }
    .services__row{
      padding: 15px 0px;
    }
    .why{
      padding: 30px 0px;
    }
    .why__title{
      font-size: 19px;
    }
    .why__text{
      font-size: 15px;
    }
    .why__content{
      padding: 10px 0px 0px 30px; 
    }
    .masters{
      padding: 30px 0px;
    }
    .name__title{
      font-size: 30px;
    }
    .rule{
      padding: 30px 0px;
    }
    .rule__text{
      font-size: 15px;
    }
    .map{
      padding: 30px 0px;
    }
    .block__row{
      display: flex;
      flex-wrap: wrap;
    }
    .block__photo{
      width: 100%;
    }
    .block__content{
      width: 100%;
      height: auto;
      margin: 20px 0px;
    }
    .where__title{
      font-size: 20px;
    }
    .where__a,
    .where__a a{
      font-size: 15px;
    }
}
@media(max-width:575px){
  .masters__item{
    margin: 10px 20px;
    }
    .slider__item img{
      width: 120px;
      height: 100px;
    }
    .slider__row__mobile{
      display: block;
    }
    .slider__row{
      display: none;
    }
   .header__row{
     padding: 5px 0px;
   }
   .menu__block,
   .nav__mobile{
     height: 45px;
   }
   .menu__nav__link{
    font-size: 12px;
    margin-right: 5px;
  }
  .intro__title{
    font-size: 30px;
  }
  .intro__subtitle{
    font-size: 13px;
  }
  .header__row{
    font-size: 11px;
  }
  .intro{
    padding: 0;
    height: 300px;
  }
  .intro__subtitle{
    font-size: 11px;
  }
  .intro__inner{
    max-width: 350px;
  }
  .menu__nav__link{
    font-size: 11px;
  }
  .btn{
    font-size: 12px;
    width: auto;
    padding: 10px 20px;
  }
  .counter__number{
    font-size: 25px;
  }
  .counter__text{
    font-size: 14px;
  }
  .name__title{
    font-size: 20px;
    padding: 15px 0px;
  }
  .services__icon{
    width: 32px;
  }
  .services__title{
    font-size: 10px;
  }
  .services__text{
    font-size: 9px;
  }
  .services__item{
    padding: 0 5px;
  }
 .why__photo{
   display: none;
 }
 .why__content{
   width: 100%;
   padding: 0px 10px;
 }
 .why__row{
   height: auto;
 }
 .why{
   padding: 10px 0px;
 }
 .why__title{
   padding: 0px 0px 10px 0px;
   font-size: 16px;
 }
 .rule__text{
   font-size: 11px;
 }
 .rule__icon img{
   height: 90px;
 }
.rule__row{
  grid-gap: 10px;
}
.rule{
  padding: 10px 0px;
}
.slider{
  padding: 10px 0px;
}
}
@media(max-width:450px){
  .slider__item img{
    width: 80px;
    height: 40px;

  }
}