/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/

body{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  /* font-family: sans-serif; - шрифт без засечек*/
}
.wrapper{
min-height: 100%;
overflow: hidden;
display: flex;
flex-direction: column;
}
.container{
  max-width: 1180px;
  margin: 0 auto;
}
.content{
  flex: 1 1 auto;
}
/* =================================  Информация  о  автомастерской =========== */
.header{
  background-color: rgba(0, 0, 0, .4);

}
.header__row{
  display: flex;
  align-items:center;
  justify-content:space-around;
  color: seashell;
  padding: 10px 0;
}
.logo,
.number,
.schedule,
.address{
text-align: center;
}

.number{
  display: flex;
  flex-direction: column;
}
.number__item a{
  color: #fff;
}

.nav{
  background-color: rgba(0, 0, 0, .3);
}
.nav__item{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30px;
  width: 100%;
}
.nav__link{
color: #f5f5f5;
text-transform: uppercase;
}
.nav.fixed{
  height: auto;
  position: fixed;
  background-color: rgba(0, 0, 0, .7);
  margin: -70px 0;
  padding: 10px 0;
  width: 100%;
  z-index: 2;
}
.nav.fixed .nav__item{
  display: flex;
}
/* =============== интро с видео на фоне */
.intro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 800px;
  padding-top: 100px;
  
}
.intro__inner{
  max-width: 970px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.intro__title{
  font-family: 'Open Sans', sans-serif; 
 line-height: 1.1;
  font-size: 65px;
  color: #fff;
  font-weight: 700;
  margin: 0 0 30px;
  text-transform: uppercase;
}
.intro__subtitle{
  margin-bottom: 60px;
  font-size: 22px;
  color: #fff;
  line-height: 1.5;
  font-weight: 400;
}
.btn{
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  padding: 14px 40px;
  border-radius: 2px;
  font-family: 'Raleway', sans-serif;
  border: 0;
  cursor: pointer;
  transition: background .1s;
  text-align: center;
}
.btn--red{
  background-color: #e84545;
}
.btn--red:hover{
  background-color:#dd3434;
}
.services{
  background-color: #fff;
}
.services__row{
  
  display: flex;
  flex-wrap: wrap;
  /* margin: 95px 0; */
  padding: 50px 0;
}
.services__item{
  width: 33.333333%;
  text-align:center;
  padding: 0 40px;
  margin: 25px 0;
}
.services__icon{
  margin-bottom: 25px;
}
.services__title{
  margin-bottom: 20px;
  font-size: 14px;
  color: #2d3033;
  font-weight: 700;
  text-transform: uppercase;
}
.services__text{
  font-size: 14px;
  color: #6c7279;
  line-height: 1.5;
}

.why{
  background-color: #fff;
padding: 50px 0;
}
.why__row{
  display: flex;
  height: 500px;
 
}
.why__photo{
  width: 50%;
  height: 500px;
  position: relative;
  overflow: hidden;
}
.why__img{
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  transform: translateY(-50%);
}
.why__content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding-left: 80px;
}
.counter{
width: 100%;
background-color: #fff;
padding: 50px 0;
}
.counter__row{
display: flex;
justify-content: space-around;
text-align: center;
}
.counter__number{
font-size: 32px;
}
.counter__text{
  font-size: 34px;
}


.masters{
  width: 100%;
background-color: #fff;
padding: 50px 0;
}
.masters__row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  align-items: center;
}
.masters__item{
  width: 250px;
  height: 300px;
  /* border: 1px solid #2d3033; */

margin: 5px;
position: relative;
perspective:1000px ;
}

.masters__front{
 background-color: rgb(214, 36, 36);
}
.masters__back{
  background-color: blue;
  transform: rotateY(180deg);
}
.masters__front,
.masters__back{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  backface-visibility: hidden;
  border-radius:10px;
}
.masters__item:hover .masters__front{transform: rotateY(180deg);}
.masters__item:hover .masters__back{transform: rotateY(360deg);}


.map{
  padding: 50px 0;
  background-color: #fff;

}
/* ==================================  footer ================================= */
.footer{
  background-color: #f5f5f5;
  height: 50px;
  width: 100%; 
  display: flex;
  justify-content: center;
  
}
