html, body{
  width: 100%;
  height: 100%;
  margin: 0;
}
@media(max-width:1200px){

}
.header{
  width: 100%;
  margin: 0 auto;
  padding: 0;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background-color: wheat;
}
.nav{
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
}
.nav>li{
  margin-left: 15px;
}
.nav>li>a{
  text-decoration: none;
  color: black;
}
.logo{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.logo_img{
  display: block;
   width: 50px;
  height: 50px;
  background-image: url();
  margin-right: 20px;
}
.logo_text{
  font-size: 24px;
  color: black;
}
.menu *{
  width: 100%;
  margin: 0;
  padding: 0;
}
.menu ul,
.menu ol{
  list-style: none;
}
.menu > ul {
  display: flex;
  justify-content: center;
}
.menu > ul li a {
  display: block;
  background: red;
  padding: 15px 35px 15px 44px;
  font-size: 14px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease;
  
}
.menu > ul li {
  position: relative;
  border-right: 1px solid black;
}
.menu > ul li:first-child{
  border-left: 1px solid #000;
}
.menu > ul li:last-child{
  border-right: 1px solid black;
}
.menu li a:hover{
   background: lightpink;
   color: white;
   box-shadow: 1px 5px 10px -5px black;
   transition: all 0.3s ease;
}
.menu li ul{
  position: absolute;
  min-width: 172px;
  display: none;
  z-index: 100;
}
.menu li > ul li a{
  padding: 10px;
  text-transform: none;
  background: #b01030;
}
.menu li:hover >ul {
  display: block;
}
.slider{
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 40%;
  background: darkgray;
  border: solid 10px #000;
}
.slider_img{
  position: absolute;
  width: 100%;
  height: 100%;
}
.slider_img img{
  width: 100%;
  height: 100%;
}
#i1, #i2, #i3{
  display: none;
}
.pre , .nxt {
width: 12%;
height: 100%;
position: absolute;
top: 0;
background: rgba(88, 88,88, .4);
z-index: 99;
cursor: pointer;
}
.pre{
  left: 0;
}
.nxt{
  right: 0;
}
.slider_nav{
  width: 100%;
  height: 11px;
  bottom: 12%;
  position: absolute;
  text-align: center;
  z-index: 99;
}
.dots{
  top: -5px;
  width: 18px;
  height: 18px;
  margin: 0 4px;
  position: relative;
  border-radius: 50%;
  display: inline-block;
  background: rgba(0, 0, 0, .6);
}
.slider_img{
  z-index: -1;
}
#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three{
z-index: 9;
}
#i1:checked ~ .slider_nav #dot1,
#i2:checked ~ .slider_nav #dot2,
#i3:checked ~ .slider_nav #dot3{
 background: #fff;
}